[Unit]
Description=A mosquitto IoT controller service
Requires=mosquitto.service
After=mosquitto.service

[Service]
Type=simple
WorkingDirectory=/home/emanuele/mosquitto_ctrl
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 ./mosquitto_ctrl.py

[Install]
WantedBy=multi-user.target

